/* Grundläggande styling för sidan */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  
/* Styling för header och navigationsbar */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    text-align: center;
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
nav ul li {
    display: inline-block;
}
  
nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: inline-block;
}
  
nav ul li a:hover {
    background-color: #575757;
}
  

body {
    padding-top: 50px;
}

/* Grundläggande styling för alla formulär */
form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Gemensam styling för alla inputfält i formulären */
form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #575757;
}

#loginform {
    background-color: #f9f9f9;
}

#registerform {
    background-color: #f0f0f0;
}

#registernew {
    text-align: center;
    font-size: 14px;
}

#registernew a {
    color: #333;
    text-decoration: none;
}

#registernew a:hover {
    text-decoration: underline;
}

/* Styling för produkterna */
.product {
    width: 50%;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product p {
    font-size: 1em;
    color: #333;
}

.product a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.product a:hover {
    background-color: #0056b3;
}

/* Styling för kundvagnen */
.cart {
    padding: 20px;
    font-size: 1.2em;
}

.cart p {
    margin-bottom: 10px;
}

  
/* Footer-styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}